* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(#615dad, #ffc8da) fixed;
}

/* INSTRUKCE - foto + text*/
.instrukce {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  color: #ffffff;
  border-radius: 10px;
  max-width: 30em;
  margin: 20px auto 0 auto;
}
.instrukce__nadpis {
  font-family: 'Lobster';
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.instrukce__text {
  font-family: 'Courier New', Courier, monospace; /* tento font, aby to bylo peknejsi, ackoliv ne podle zadani :)*/
  color: #ffffff;
  text-align: center;
  padding: 0 40px;
}
.instrukce__foto {
  height: 300px;
  border-radius: 10px 10px 0 0;
}

/* INSTRUKCE - tlačítka */
.instrukce__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.instrukce__pravidla--btn {
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.instrukce__pravidla--btn:hover {
  background-color: #1cbb96;
  cursor: pointer;
}
.instrukce__start--btn {
  background-color: #0197f6;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.instrukce__start--btn:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* PRAVIDLA */

.pravidla {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  color: #ffffff;
  border-radius: 10px;
  margin: 20px auto 0 auto;
}
.pravidla__nadpis {
  font-family: 'Lobster';
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.pravidla__seznam {
  padding: 0em 0em 0em 4em;
  font-size: 13px;
}

.pravidla__seznam li {
  font-family: 'Courier New', Courier, monospace; /* tento font, aby to bylo peknejsi, ackoliv ne podle zadani :)*/
  padding: 0.3em 1em;
}

.pravidla__icons {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.pravidla__obrazky {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em;
}

.pravidla__obrazky--img img {
  width: 100%;
  display: block;
}

figure {
  margin: 0.8em;
  padding: 0 0.4em;
}
figcaption {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-size: 1em;
  color: lightgrey;
  padding: 5px 0 15px 0;
  text-align: center;
}
.pravidla__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.pravidla__instrukce--btn {
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.pravidla__instrukce--btn:hover {
  background-color: #1cbb96;
  cursor: pointer;
}
.pravidla__start--btn {
  background-color: #0197f6;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.pravidla__start--btn:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* Responzivita */

@media (min-width: 350px) {
  .pravidla {
    max-width: 20em;
  }
  .pravidla__obrazky {
    display: flex;
    flex-wrap: wrap;
  }
  .pravidla__obrazky--img {
    max-width: 80%;
    margin: auto;
  }
  figure {
    margin: 0.6em;
    padding: 0 0.3em;
  }
  figcaption {
    font-size: 1em;
  }
}
@media (min-width: 700px) {
  .pravidla {
    max-width: 30em;
  }
  .pravidla__obrazky--img {
    width: calc(100% / 2);
    max-width: 100%;
    margin: 0;
  }
  figcaption {
    font-size: 0.8em;
  }
}

@media (min-width: 1000px) {
  .pravidla {
    max-width: 40em;
  }
  .pravidla__obrazky--img {
    width: calc(100% / 2);
    max-width: 100%;
    margin: 0;
  }
  figcaption {
    font-size: 0.8em;
  }
}

/* Hra */

.game {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin: 0 auto;
  max-width: 70vmin; /* vím, že v zadání bylo 80vmin, ale takto mi to přišlo přehlednější na celé obrazovce */
}

.game__title {
  font-family: 'Lobster';
  font-size: 40px;
  text-align: center;
  margin-bottom: 0.5em;
}
.game__navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
  align-items: center;
}
.game__player {
  display: flex;
  align-items: center;
}
.game__player--actual {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-left: 0.1em;
}

.game__buttons {
  display: flex;
  align-items: center;
}
.game__home--btn {
  height: 2.5em;
  width: 2.5em;
  aspect-ratio: 1/1;
  background-color: #1fcca4;
  color: #ffffff;
  padding: 0.7em;
  margin-right: 0.5em;
  border-radius: 0.5em;
}
.game__home--btn:hover {
  background-color: #1cbb96;
  cursor: pointer;
}
.game__repeat--btn {
  height: 2.5em;
  width: 2.5em;
  aspect-ratio: 1/1;
  background-color: #0197f6;
  color: #ffffff;
  padding: 0.7em;
  border-radius: 0.5em;
}
.game__repeat--btn:hover {
  background-color: #0090e9;
  cursor: pointer;
}

.game__home--img,
.game__repeat--img {
  height: 1em;
  width: 1em;
}

/* Hra */

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}

.game__icons {
  width: 1.3em;
  height: 1.3em;
  filter: invert(100%);
  margin-left: 0.8em;
  margin-bottom: 0.1em;
}

.area__field--circle {
  background: url('podklady/circle.svg') no-repeat center;
  background-size: 70%;
  transition: background-size 0.45s;
}

.area__field--cross {
  background: url('podklady/cross.svg') no-repeat center;
  background-size: 70%;
  transition: background-size 0.45s;
}
/* Herní plocha*/

.game__area {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.area__btn {
  width: calc(100% / 10);
  border: 0.9px solid #283e50;
  aspect-ratio: 1/1;
  background-color: rgb(255, 255, 255, 0.5);
  margin: 0px;
}
.area__btn:hover,
.area__btn:focus {
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.7);
}
