* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(#615dad, #ffc8da) fixed;
  width: min-content;
  margin: 20px auto 0 auto;
}

/* Instrukce - foto + text*/
.instrukce {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  color: #ffffff;
  border-radius: 10px;
}
.instrukce__nadpis {
  font-family: 'Lobster';
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.instrukce__text {
  font-family: 'Courier New', Courier, monospace; /* tento font, aby to bylo peknejsi, ackoliv ne podle zadani :)*/
  color: #ffffff;
  text-align: center;
  padding: 0 40px;
}
.instrukce__foto {
  height: 300px;
  border-radius: 10px 10px 0 0;
}

/* Instrukce - tlačítka */
.instrukce__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.instrukce__pravidla-btn {
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.instrukce__pravidla-btn:hover {
  background-color: #1cbb96;
  cursor: pointer;
}
.instrukce__start-btn {
  background-color: #0197f6;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.instrukce__start-btn:hover {
  background-color: #0090e9;
  cursor: pointer;
}
